$green: #13aa52;
$darkGreen: #116149;
$darkGrey: #444;
$mediumGrey: #666;
$lightGrey: #eee;

html {
	background: $lightGrey;
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header, 
main {
	background: #fff;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.header-left {
	a {
		text-decoration: none;
	}
}

header {
	padding: 40px 0;
	.container {
		display: flex;
		justify-content: space-between;
	}
	@media only screen and (max-width: 500px) {
		padding: 20px 0;
		.container {
			display: block;
			text-align: center;
		}
	}
}

.site-title {
	color: $green;
	text-decoration: none;
	font-weight: normal;
	margin: 0;
	padding: 0;
	.more {
		font-weight: bold;
	}
	@media only screen and (max-width: 500px) {
		margin: 0 0 15px 0;
	}
}

a {
	color: $darkGreen;
	&:hover {
		text-decoration: none;
	}
}

p {
	line-height: 1.7;
}

.main-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 0 0 5px;
			a:not(.btn), 
			button {
				text-decoration: none;
				color: $darkGrey;
				padding: 8px;
				font-size: 16px;
				border: 0;
				outline: 0;
				background: transparent;
				cursor: pointer;
				&:hover,
				&:focus {
					color: $green;
				}
			}
			.btn {
				margin: 0 0 0 8px;
			}
		}
	}
}

main {
	padding: 10px 0 100px 0;
}

.home-hero {
	background-image: url('./images/reading.svg');
	background-position: bottom right;
	background-size: 500px;
	background-repeat: no-repeat;

	padding: 50px 0 150px;
	.hero-text {
		font-size: 48px;
		max-width: 400px;
	}
	p {
		margin-top: 30px;
	}
	@media only screen and (max-width: 767px) {
		background-size: 100%;
		background-position: bottom center;
		padding: 0 0 250px;
	}
}

.page-title {
	text-align: center;
}

.btn {
	display: inline-block;
	background: $green;
	font-weight: bold;
	padding: 13px 30px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	border: 0;
	font-size: 15px;
	cursor: pointer;
}

.medium-grey {
	color: $mediumGrey;
}

.center {
	text-align: center;
}

form {
	margin: 30px auto 50px;
	max-width: 400px;
	.form-control {
		margin: 0 0 20px;
	}
	label {
		display: block;
		color: $darkGrey;
		margin: 0 0 4px;
	}
	input,
	textarea, 
	select {
		display: block;
		width: 100%;
		border: 1px solid darken($lightGrey, 10%);
		border-radius: 5px;
		font-size: 100%;
		padding: 10px 7px;
		box-sizing: border-box;
		background: transparent;
	}
	.form-actions {
		margin-top: 30px;;
		.btn {
			width: 100%;
		}
	}
}

.post-list {
	margin: 50px 0 0 0;
	padding: 0;
	list-style: none;
	.post {
		padding: 0 0 40px 0;
		margin: 0 0 40px 0;
		border-bottom: 1px solid darken($lightGrey, 10%);
		display: flex;
		.book-cover {
			flex: 250px 0 0;
			margin: 0 50px 0 0;
			
			img {
				border: 10px solid $lightGrey;
				width: 100%;
				height: auto;
			}
		}
		.post-text {
			flex: calc(100% - 250px) 0;
			.book-title {
				margin-bottom: 10px;
				font-size: 32px;
			}
			.book-subtitle {
				font-weight: normal;
				margin-top: 0;
				color: $darkGrey;
				font-size: 18px;
			}
			.author {
				font-style: italic;
				font-size: 15px;
			}
			.isbn {
				font-size: 14px;
			}
			.rating {
				margin-top: 30px;
			}
		}
	}
	@media only screen and (max-width: 550px) {
		.post {
			display: block;
			margin: 0 auto 40px auto;
			max-width: 350px;
			.book-cover {
				margin: 0 auto;
				display: block;
				max-width: 250px;
			}
		}
	}
}

footer {
	padding: 20px 0;
	color: $darkGrey;
	text-align: center;
	a {
		color: $darkGrey;
	}
}